<h1>KelloggCoin Ledger</h1>

<!-- Step 1: List all transaction, starting with the ICO -->
<%
transactions = Transaction.all
%>

<ol>
<% for transaction in transactions %>
    <li>
    <% if transaction.from_user != nil %>
    <%= transaction.amount %> KC from <%= transaction.from_user.name %> to <%= transaction.to_user.name %>
    <% else %>
    Initial coin offering: <%= transaction.amount %> KC to <%= transaction.to_user.name %>
    </li>
<% end %>
</ol>


<!-- Step 2: Calculate and display the balances -->

<!-- 
Expected balances:
Balance for Brian: 1348 KC
Balance for Ben: 2516 KC
Balance for Evan: 1164 KC
Balance for Anthony: 1456 KC
Balance for Krystina: 3516 KC 
-->